[Unit]
Description=KMonad Keyboard Daemon
Documentation=https://github.com/kmonad/kmonad
After=basic.target

[Service]
Type=simple
ExecStart=/usr/local/bin/kmonad %h/.config/kmonad/config.kbd
User=root
Group=root
Restart=always
RestartSec=3
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
