[includeIf "gitdir:~/projects/personal/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/projects/work/"]
  path = ~/.gitconfig-work

[alias]
  s               = status
  cm              = commit
  co              = checkout
  br              = branch
  unstage         = reset HEAD
  last            = log -1 HEAD
  lg              = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  tree            = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
  graph           = log --graph --all --decorate --stat --date=iso
  rv              = remote --verbose
  undo-commit     = reset --soft HEAD^
  d               = diff
  dw              = diff --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
